PROPOSITOS Y OBJETIVOS DE GIT 
1) Posiblitar la ramificación y el etiquetado como procesos de primera impportancia.
2) llevar registro de los cambios en archivos de computadora incluyendo coordinar el trabajo que varias personas realizan sobre archivos compartidos en un repositorio de código.
3) Funciona como una herramienta de DevOps que se utiliza para la gestión de código fuente..
